body{
    background-color: bisque;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 50px;
}

.section-heading{
    font-weight: bold;
    font-size: 2em;
    color: coral;
}

.image{
    width: 500px;
}

ul{
    font-size: 1em;
}

h2{
    font-size: 1.5em;
}

#id{
    font-size: 1.5em;
}